<div class="row">
    <h1>Grupos</h1>
    <div class="col-6">
        <div class="d-flex my-3">        
            <input type="text" class="form-control" placeholder="Buscar" #txtSearch (keyup)="onSearch(txtSearch.value)">
            <button class="btn btn-outline-primary mx-2" type="submit">Buscar</button>
        </div>
        <div class="groups">
            <div class="card bg-primary p-2 text-white my-3" style="cursor: pointer;" *ngFor="let group of groups | groupSearch:search " (click)="showInformation(group.id)">{{group.name}}</div>
        </div>
    </div>
    <div class="col-6">
        <div class="accordion" style="max-height: 250px;"id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  
                  {{groups[id].name}}
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <ul>
                    
                    <li style="list-style: none;" *ngFor="let groupI of groupInfo"><input type="checkbox" class="mx-2" >{{groupI.name | uppercase}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <button class="btn btn-primary my-5">Continuar</button>
          
            
          </div>
    </div>
</div>
